@charset "UTF-8";



@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 400%;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}



@keyframes curtain {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 500px; /* Altura máxima desejada */
    }
}
  