@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins-Medium.otf");
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins-Regular.otf");
}

@font-face {
  font-family: "Tusker Grotesk";
  src: url("../fonts/TuskerGrotesk-2600Semibold.otf");
}

@font-face {
  font-family: "Audiowide";
  src: url("../fonts/Audiowide-Regular.ttf");
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2c2c2c31;
}

::-webkit-scrollbar-thumb {
  background-color: #bebebf;
  border-radius: 4px;
}

:root {
  --color-background: #111111;
  --color-black-heavy: #000000;
  --color-background2: #efefef;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Audiowide", "Rubik", sans-serif;
  background-color: #111111;
  color: var(--color-white);
  
}

body {
  position: relative;
  transition: background 0.3s linear;
}

.wallpaper-hero {
    opacity: 10%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

.wallpaper-hero2 {
  opacity: 10%;
  width: 100%;
  position: absolute;
  top: 2300px;
  left: 0;
  z-index: 0;
}

.hidden {
  display: none !important;
}

.color-primary {
  color: var(--color-primary);
}

/* header */

.header {
  max-width: 1620px;
  margin: auto!important;
}

a.navbar-brand {
  margin-left: -25px;
}

.nav-link {
  color: #6e6e6e !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.nav-item a {
  transition: 0.2s ease-in-out;
  position: relative;
  padding-right: 5px;
}

.nav-item a:hover {
  color: #9338c4 !important;
}

.nav-item a::after {
  margin-left: 30px;
  content: " ";
  width: 0;
  height: 2.5px;
  background-color: #9338c4;
  position: absolute;
  bottom: 10px;
  left: 0;
  transition: 0.2s ease-in;
}

.nav-item a:hover::after {
  width: 30px;
}

.btn-white {
  background-color: var(--color-white);
  color: var(--color-black) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.349);
  transition: 0.2s linear;
  transform: scale(0.8);
}

.btn-white:hover {
  transform: scale(0.9);
}

.btn-white.active {
  background-color: var(--color-primary);
}
.btn-icon {
  padding-right: 75px;
}

.theme-checkbox {
  --toggle-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #efefef),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #111111 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #111111 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
  transform: scale(0.4);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #efefef),
      color-stop(50%, #111111)
    )
    no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #111111 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #111111 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

/*aorela-nome*/

.aorela-nome {
  background: transparent;
  width: 100px;
  height: 50px;
  border-radius: 70%;
  border: 5px solid rgb(190, 190, 190);
  box-shadow: inset 0px 0px 15px #a80eb6bb, 0px 0px 20px #a80eb6bb;
  position: absolute;
  top: 38px;
  left: 420px;
  transform: rotate(45deg);
}

/*resumo*/

.resumo {
  max-width: 1620px;
  margin: auto!important;
}

.nome-destaque {
  font-size: 160px;
  font-family: "Tusker Grotesk";
  background: linear-gradient(
    90deg,
    #530394,
    #8f18ca,
    #ed13ff,
    #cc67ef,
    #530394
  );
  background-size: 400% 100%;
  animation: degrade 15s linear infinite alternate;
  background-clip: css;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.botao-resumo {
  width: 150px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--color-black-heavy);
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
  text-align: center;
  padding-top: 2px;
  border-radius: 5px;
  transform: translateY(-10px);
}

.sombra {
  transform: translateY(-9px);
  box-shadow: 0 7px 0 -2px #530394, 0 8px 0 -4px #ed13ff,
    0 8px 10px -3px #ed13ff;
}

.botao-resumo a {
  color: white;
  text-decoration: none;
}

.botao-resumo:hover {
  border-radius: 5px;
  transform: translateY(-12px);
  box-shadow: 0 7px 0 -2px #530394, 0 15px 0 -4px #ed13ff,
    0 16px 10px -3px #ed13ff;
}

.botao-resumo:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #530394, 0 8px 0 -4px #ed13ff,
    0 12px 10px -3px #ed13ff;
}

.icon-rede {
  margin-right: 7px;
}

.div-botoes-resumo {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.text-about a {
  text-decoration: none;
}

.text-about,
.text-about2 {
  color: #6e6e6e;
}

.text-about span:hover {
  border-bottom: 2px solid #FAA819;
}

.wave1 {
  display: flex !important;
  background: none;
  z-index: 1;
}

.text-about img {
  margin-bottom: 1px;
  margin-right: 2px;
}

/*Cursos*/

.nome-curso-marca {
  position: absolute;
  height: 100%;
  transform: rotate(180);
  right: 0px;
  filter: drop-shadow(2px 2px 15px #6e6e6e);
  filter: grayscale(2px);
  filter: opacity(0.5);
  opacity: 0.1;
  overflow-x: hidden;
}

.cursos {
  background-color: var(--color-black-heavy);
  height: 900px;
  position: relative;
  top: -10px;
  z-index: 1;
}

.cursos h2 {
  display: inline-block;
  margin-bottom: 30px;
  font-family: "Tusker Grotesk", sans-serif;
  font-size: 150px;
  font-weight: 400;
  text-shadow: var(--color-black-heavy) 0px 0px 20px;
}

.grupo-botoes-cursos {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 5px;
}

.grupo-botoes-cursos::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}

.btn-cursos {
  background-color: var(--color-black-heavy);
  border: 2px solid var(--color-white);
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  width: 145px;
  min-width: 145px;
  margin-right: 5px;
  border-radius: 5px;
}

.botao-active {
  transform: translateY(-2px);
  box-shadow: 0 5px 0 -2px #530394, 0 10px 0 -4px #ed13ff,
    0 10px 10px -3px #ed13ff;
}

.btn-cursos:hover {
  border-radius: 5px;
  transform: translateY(-5px);
  box-shadow: 0 5px 0 -2px #530394, 0 10px 0 -4px #ed13ff,
    0 10px 10px -3px #ed13ff;
}

.btn-cursos:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 5px 0 -2px #530394, 0 5px 0 -2px #ed13ff, 0 5px 0 0 #ed13ff;
}

/*cursos selecionados*/

.curso-selecionado {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  position: relative;
}

.div-cursos-selecionados {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-curso {
  position: absolute;
  top: 0;
}

.div-cursos-selecionados h3 {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Audiowide", sans-serif;
  margin: 200px 0 0 0 !important;
}

.data-curso {
  position: absolute;
  top: 225px;
  font-size: 12px;
  background: linear-gradient(
    90deg,
    #530394,
    #8f18ca,
    #ed13ff,
    #cc67ef,
    #530394
  );
  background-size: 400% 100%;
  animation: degrade 15s linear infinite alternate;
  background-clip: css;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-info-cursos:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.wave2 {
  position: relative;
  top: -30px;
  background: none;
}
/*projetos*/

.projetos h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-family: "Tusker Grotesk", sans-serif;
  font-size: 150px;
  font-weight: 400;
}

.photo {
  border-bottom: 6px solid #8f18ca;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.show {
  display: block; /* Ou block, dependendo do seu layout */
  animation: curtain 1s forwards;
}

.hidden {
  display: block;
  animation: noCortain 1s forwards;
}

.info-projeto {
  background-color: #131213ea;
  width: 354px;
  height: 100%;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.container-polaroid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(354px, 1fr));
  grid-gap: 30px 30px;
  max-width: 1200px;
  justify-content: center;
}

.polaroid {
  margin: 0 0 !important;
  width: 354px;
  height: 200px;
  box-shadow: 5px 5px 20px 1px #00000080;
  transition: all 0.2s ease-in-out !important;
  position: relative;
}

.projetos span {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.botoes-projetos {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-projeto {
  color: var(--color-white);
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid white;
  transform: scale(0.7);
  width: 120px;
  min-width: 120px;
  box-shadow: none;
  transition: 0.2s ease-in-out;
}

.btn-projeto:hover {
  box-shadow: none;
  transform: scale(0.8);
}

.btn-projeto a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
}

.btn-projeto a:hover {
  text-decoration: none;
}

.btn-site {
  transition: 0.3s ease-in-out;
}

.btn-site:hover {
  filter: blur(1px);
  transform: scale(1.1);
}

.btn-ver-mais-projetos {
  background-color: transparent;
}

.btn {
  text-decoration: none;
}

/*habilidades*/

.habilidades h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 100px;
  font-family: "Tusker Grotesk", sans-serif;
  font-size: 150px;
  font-weight: 400;
}

.grupo-cards-habilidades {
  display: flex;
  animation: 20s slide infinite linear;
}

.card-habilidade {
  width: 60px;
  height: 60px;
  padding: 0 60px;
}

.div-habilidades {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  position: relative;
}

.div-habilidades:before {
  content: "";
  width: 150px;
  height: 60px;
  background: linear-gradient(to right, transparent, #111111);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.div-habilidades:after {
  content: "";
  width: 150px;
  height: 60px;
  background: linear-gradient(to right, #111111, transparent);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

/*footer*/

.wave3 {
  position: relative;
  top: 30px;
  background: none;
}

footer {
  background-color: var(--color-black-heavy);
  height: 470px;
}

.links-footer {
  display: flex;
  flex-direction: column;
}

.grupo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

footer a {
  color: var(--color-white);
  font-size: 12px;
}

footer a:hover {
  color: #8a8a8a;
}

.copyright {
  display: flex;
  justify-content: center;
}

footer span {
  font-size: 12px;
  color: #8a8a8a;
  text-align: center;
}

.nome-footer-marca {
  position: absolute;
  width: 300px;
  bottom: 0;
  left: 0px;
  filter: drop-shadow(2px 2px 15px #6e6e6e);
  filter: grayscale(2px);
  filter: opacity(0.5);
  opacity: 0.1;
  overflow-x: hidden;
}

.bar {
  color: #ffffff;
}

/*formulario*/

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 350px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

.message,
.signin {
  color: var(--color-background);
  font-size: 40px;
  font-family: "Tusker Grotesk", sans-serif;
  letter-spacing: 1px;
  background: linear-gradient(
    90deg,
    #530394,
    #8f18ca,
    #ed13ff,
    #cc67ef,
    #530394
  );
  background-size: 400% 100%;
  animation: degrade 15s linear infinite alternate;
  background-clip: css;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  height: 50px;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: var(--color-black-heavy);
  border: 2px solid var(--color-white);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  transition: all 0.4s;
  cursor: pointer;
}

.submit:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 0 -2px #530394, 0 12px 0 -4px #ed13ff,
    0 12px 10px -3px #ed13ff;
}

.submit:active {
  transform: translateY(-5px);
  box-shadow: 0 5px 0 -2px #530394, 0 12px 0 -4px #ed13ff,
    0 12px 10px -3px #ed13ff;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/*MODO LIGHT*/

.modo-light {
  color: var(--color-background);
  background-color: var(--color-background2);
}

.modo-light .bar {
  color: var(--color-background);
}

.modo-light .nav-link {
  color: #6e6e6e !important;
}

.modo-light .nav-link:hover {
  color: #cc67ef !important;
}

.modo-light .nav-link::after {
  color: #cc67ef !important;
}

.modo-light .nav-item a::after {
  background-color: #cc67ef;
}

.modo-light .aorela-nome {
  background-color: transparent;
  border: 5px solid rgb(228, 228, 228);
  box-shadow: inset 0px 0px 15px #a80eb6fd, 0px 0px 20px #a80eb6bb;
}

.modo-light .titulo-sessao {
  color: var(--color-white);
}

.modo-light .div-cursos-selecionados span,
.modo-light .div-cursos-selecionados h3 {
  color: var(--color-white);
}

.modo-light .btn-ver-mais-projetos {
  color: var(--color-black-heavy);
  border: 2px solid var(--color-black-heavy);
}

.modo-light .info-projeto span {
  color: var(--color-white);
}

.modo-light .titulo-projetos,
.modo-light .titulo-habilidades {
  color: var(--color-background);
}

.modo-light .card-habilidade h3 {
  color: var(--color-background);
}

.modo-light .div-habilidades:before {
  background: linear-gradient(to right, transparent, var(--color-background2));
}

.modo-light .div-habilidades:after {
  background: linear-gradient(to right, var(--color-background2), transparent);
}
